 {
    box-sizing: border-box;
}

.highlight-pink{
    background-color:pink;
    color: white;
}

.p1{
    color: yellow;

}

body{
    background-color: gray;
}

.p2{
    color:yellowgreen;
}

.p3{
    color:aquamarine
}

.border1{
    background-color: white;
    border: 5px solid orange;
    margin: 20px;
    height: 100px;
    
    
    

}

.white{
    color:white;
}

#white{
    color:white;
}